
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: rgb(60, 60, 61);
    border-radius: 7rem;
}

.contact{
    position: relative;
    min-height: 30vh;
    padding: 50px 100px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)), url(IMG/Contact.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-blend-mode: darken;
}

.contact .navbar{
    text-align: right;
}

.contact .navbar a{
    justify-content: flex-end;
    margin: 1rem;
    font-size: 1.3rem;
    color: #fff;
    text-decoration: none;
    transition: 0.02s eases;
    border: 3px solid transparent;
    border-radius: 10px 10px;
    padding: 10px 20px;
}

.contact .navbar a:hover{
    background-color: white;
    color: black;
    padding-bottom: 0.06rem;
}

.contact .content{
    max-width: 800px;
    text-align: center;
}

.contact .content h2{
    font-size: 30px;
    font-weight: 500;
    color: rgb(255, 0, 0);

}

.contact .content p{
    font-weight: 300;
    color: #FFF;
    
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactInfo .box .text{
    display: flex;
    margin-left: 30px;
    font-size: 16px;
    color: white;
    flex-direction: column;
    font-weight: 300;
}

.container .contactInfo .box .text h3{
    font-weight: 500;
    color: #00bcd4;
}

.contactForm{
    width: 40%;
    padding: 20px;
    background: white;
}

.contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.contactForm .inputbox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputbox input,
.contactForm .inputbox textarea
{
    width: 85%;
    padding: 5px 0;
    font-size: 16px;
    margin: 15px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactForm .inputbox span{
    text-align: justify;
    position: absolute;
    left: 17px;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: rgb(3, 3, 3);
}

.contactForm .inputbox input:focus ~ span,
.contactForm .inputbox input:valid ~ span
.contactForm .inputbox textarea:focus ~ span,
.contactForm .inputbox textarea:valid ~ span{
    color: #ffffff;
    font-size: 12px;
    transform: translate(-10px);
}
.contactForm .inputbox input[type="submit"]{
    width: 85px;
    background: #00bcd4;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

@media (max-width: 991px){
    .contact{
        padding: 50px;
    }
    .container{
        flex-direction: column;
    }
    .container .contactInfo{
        margin-bottom: 40px;
    }
    .container .contactInfo,.contactForm{
        width: 100%;
    }

}